.card{
background:var(--card);
padding:20px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.btn{
background:var(--primary);
color:white;
padding:10px 15px;
border:none;
margin-top:10px;
cursor:pointer;
}

.btn:hover{
opacity:0.8;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:1px solid #ccc;
}

input:focus{
border-color:var(--primary);
outline:none;
}

.badge{
padding:5px 10px;
border-radius:5px;
font-size:12px;
}

.active-badge{background:#16a34a;color:white;}
.complete-badge{background:#6b7280;color:white;}
.pending{background:#f59e0b;color:white;}

.login-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-card{
background:white;
padding:30px;
width:300px;
border-radius:10px;
}

.profile-img{
width:120px;
height:120px;
border-radius:50%;
}

.profile-small{
width:40px;
border-radius:50%;
}
